<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<h3 th:text="${title}">Default Title</h3>

<ul>
    <li th:each="favorite : ${favorite}">
        <a th:href="'/favorite/view/' + ${favorite.id}" th:text="${favorite.name}"></a>
    </li>
</ul>

<nav th:fragment="navigation">

    <a href="/favorite/add">Add Favorite</a> |
    <a href="/favorite/remove">Remove Favorite</a>
</nav>

</body>
</html>